@import url('https://fonts.googleapis.com/css?family=Montserrat|Pragati+Narrow|Roboto|Roboto+Condensed|Reem+Kufi&display=swap');

$font-roboto:           'Roboto', sans-serif;
$font-roboto-condensed: 'Roboto Condensed', sans-serif;
$font-montserrat:       'Montserrat', sans-serif;
$font-pragati-narrow:   'Pragati Narrow', sans-serif;
