<header>
    Entities
</header>
<hr>
<div class="filter-block">
    <div class="filter-block-content col-xl-6 col-md-8 col-sm-10 col-24 p-0 ml-md-3">
        <div class="text-input-control">
            <label for="search">
                Search
            </label>
            <input id="search"
                   type="text"
                   placeholder="Search"
                   data-placeholder="Search"
                   [formControl]="searchValue"
                   required>
        </div>
        <div class="text-input-control">
            <label for="itemsCount">
                Show Items
                <span class="feedback"></span>
            </label>
            <input id="itemsCount"
                   type="text"
                   placeholder="Search"
                   data-placeholder="Search"
                   [formControl]="itemsCount"
                   (input)="validate()"
                   (blur)="filter()"
                   required>
        </div>
    </div>
    <button routerLink="/admin/entities/form">Create Entity</button>
</div>
<table *ngIf="entities.length">
    <thead>
    <tr>
        <th>Id</th>
        <th class="important">Name</th>
        <th>Short Name</th>
        <th class="important">Box Number</th>
        <th class="important">Plot Number</th>
        <th>Branches Number</th>
        <th>Created At</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let entity of entities">
        <td>{{ entity._id }}</td>
        <td>{{ entity._name }}</td>
        <td>{{ entity._shortName }}</td>
        <td>{{ entity._boxNumber }}</td>
        <td>{{ entity._plotNumber }}</td>
        <td>{{ entity._branchesNumber }}</td>
        <td>{{ formatDate(entity._createdAt) }}</td>
        <td>
            <div class="dropdown">
                <div id="actionsButton" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <svg width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 8c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm0 2c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm0 6c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z"/></svg>
                </div>
                <div class="dropdown-menu" aria-labelledby="actionsButton">
                    <a class="dropdown-item" [routerLink]="['/admin/entities/form', entity._id]" href="javascript:void(0);">Edit Entity</a>
                    <a class="dropdown-item"
                       data-toggle="modal"
                       data-target="#deleteModal"
                       (click)="setEntityToDeleteId(entity._id)"
                       href="javascript:void(0);">
                        Delete Entity
                    </a>
                </div>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<div class="empty-list" *ngIf="!entities.length">
    No entities in list.
</div>

<app-pagination *ngIf="entitiesCount > itemsCount.value"
                [lastPage]="pagesCount()"
                (pageChanged)="pageChanged">
</app-pagination>


<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteButton" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content modal-danger">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Entity</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>
                    Do you really want to delete this entity?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" (click)="deleteEntity()">Delete</button>
            </div>
        </div>
    </div>
</div>
