<header>
    Messages
</header>
<hr>
<div class="filter-block">
    <div class="filter-block-content col-xl-6 col-md-8 col-sm-10 col-24 p-0 ml-md-3">
        <div class="text-input-control">
            <label for="search">
                Search
            </label>
            <input id="search"
                   type="text"
                   placeholder="Search"
                   data-placeholder="Search"
                   [formControl]="searchValue"
                   required>
        </div>
        <div class="text-input-control">
            <label for="itemsCount">
                Show Items
                <span class="feedback"></span>
            </label>
            <input id="itemsCount"
                   type="text"
                   placeholder="Search"
                   data-placeholder="Search"
                   [formControl]="itemsCount"
                   (input)="validate()"
                   (blur)="filter()"
                   required>
        </div>
    </div>
</div>
<div class="table-container">
    <table *ngIf="messages.length">
        <thead>
        <tr>
            <th>Id</th>
            <th class="important">Phone Number</th>
            <th class="important">Template</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let message of messages">
            <td>{{ message._id }}</td>
            <td>{{ message._phoneNumber }}</td>
            <td class="template-text">{{ message._template._template }}</td>
            <td>{{ formatDate(message._createdAt) }}</td>
        </tr>
        </tbody>
    </table>
    <div class="empty-list" *ngIf="!messages.length">
        No messages in list.
    </div>
</div>
<app-pagination *ngIf="messagesCount > itemsCount.value"
                [lastPage]="pagesCount()"
                (pageChanged)="pageChanged($event)">
</app-pagination>
